<h1 class="mb-3">id: <%= @task.id %> のタスク詳細ページ</h1>

<table class="table mb-3">
  <tr>
    <th>Task Content</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>Status</th>
    <td><%= @task.status %></td>
  </tr>
</table>

<div class="row">
  <%= link_to '一覧に戻る', tasks_path, class: 'btn btn-primary m-3 col-sm-3' %>

  <%= link_to 'このタスクを編集する', edit_task_path(@task), class: 'btn btn-light m-3 col-sm-3' %>
  
  <%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger m-3 col-sm-3' %>

</div>
